<div class="container">
    <div class="container text-center my-4">
        <h3>Editar Proveedor</h3>        
    </div>
    <form (ngSubmit) = "onSubmit()" ngNativeValidate>
        <div class="mb-3">
          <label for="nombre" class="form-label">Nombre</label>
          <input type="text" class="form-control" id="nombre" required [(ngModel)] ="proveedor.nombre" name="nombre">
        </div>
        <div class="mb-3">
          <label for="numeroIdentifiacion" class="form-label">Numero Identificacion</label>
          <input type="text" class="form-control" id="numeroIdentifiacion" [(ngModel)] ="proveedor.numeroIdentifiacion" required name="numeroIdentifiacion">
        </div>
        <label for="tipoDocumento" class="form-label">Tipo de Documento</label>
        <select class="form-select" aria-label="Default select example" [(ngModel)]="proveedor.tipoDocumento" name="tipoDocumento" required id="tipoDocumento">
            <option *ngFor="let tipoDocumento of tiposDocumentos" [ngValue]="tipoDocumento">{{tipoDocumento.abreviacion}}</option>
        </select>        
        <div class="mb-3">
            <label for="direccion" class="form-label">Direccion</label>
            <input type="text" class="form-control" id="direccion" [(ngModel)] ="proveedor.direccion" required name="direccion">
          </div>
          <div class="mb-3">
            <label for="nombreContacto" class="form-label">Nombre de Contacto</label>
            <input type="text" class="form-control" id="nombreContacto" [(ngModel)] ="proveedor.nombreContacto" required name="nombreContacto">
          </div>
          <div class="mb-3">
            <label for="celular" class="form-label">Celular</label>
            <input type="text" class="form-control" id="celular" [(ngModel)] ="proveedor.celular" required name="celular">
          </div>
          <div class="text-center">
            <button type="submit" class="btn btn-primary me-3 btn-sm">Editar</button>
            <a href="/proveedores" class="btn btn-danger btn-sm">Regresar</a>
          </div>        
      </form>
</div>
